/*https://www.joshwcomeau.com/css/custom-css-reset/*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* 9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* font library import */
@font-face {
    font-family: 'Office';
	src:    url('fonts/OCP/OfficeCodeProD-Regular.woff') format('woff'),
            url('fonts/OCP/OfficeCodeProD-Regular.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'Sinistre';
	src:url('fonts/SinistreStCaroline.woff') format('woff'),
        url('fonts/SinistreStCaroline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'CocoB';
    src:url('fonts/Coconat-BoldExt.woff') format('woff'),
        url('fonts/Coconat-BoldExt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'MaziusX';
    src:url('fonts/MaziusReview-Extraitalic.woff') format('woff'),
        url('fonts/MaziusReview-Extraitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'RotPRoman';
    src:url('fonts/Rot-Proto-Roman-Regular.woff') format('woff'),
        url('fonts/Rot-Proto-Roman-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;}

/* c0re */
body {
	background-color:black;
}

/* under new font management */
p, li {
	font-family: 'Office';
	font-size: 12px;
    letter-spacing: 0.7px;
    word-spacing: 0.5px;
    color: white; }
    
a {text-decoration: underline ;text-decoration-style: double;color: white; }
a:hover {color:black;background-color:white; }

/* table structure */
table { 
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
  height: ;
} 

td, th {
	border: 1px solid white;
	padding: 10px;
}

/* blink animation */
@keyframes blinking {0%{color: black;}50%{color: white;}100%{color: black;}}
.blink {animation-name: blinking;animation-duration: 0.8s;animation-iteration-count: infinite;}
.blockline {color: #000000;background-color: #FFFFFF;}

