/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* highlight text */

::-moz-selection {color: #ffffff;background: #232323;}

::selection {color: #ffffff;background: #232323;}

/* background */

body {
	cursor: url("cursor.svg") 7 7 ,auto;
	background-color: #FFF5EE; /*#FFF5EE*/
    width: 100%;
    height: 100%;
}

/* font management */

p {
	font-family: Helvetica, sans-serif;
	font-size: 11px;
    letter-spacing: 0.4px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #c64200; /*#c03000*/
	background-color: ;
	cursor: url("cursor_hover.svg") 7 7 ,auto;
}

a:hover {
 color: #FFFFFF;
 background-color: #000000;
}

/*body*/

#hold_me {
    display: grid;
    grid-template-columns: 200px auto;
    height: 100vh;
    width: 100vw;
}

#who_am_i {
    margin: 20px 0px 20px 20px;
    padding: 15px;

    border-color: #000000;
    border-style: solid;
    border-width: 1px;

    overflow: auto;
    background-color: #FFFFFF;
}

#what_i_am {
    margin: 20px 20px 20px 20px;
    padding: 15px;

    border-color: #000000;
    border-style: solid;
    border-width: 1px;

    overflow: auto;
    background-color: #FFFFFF;
}

img {
    display: block;
    width: auto;
    max-height: 100%;
    padding-bottom: 15px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  #hold_me {
      grid-template-columns: none;
      grid-template-rows: 1fr 3fr;
  }
  #who_am_i{
      margin: 20px 20px 10px 20px;
  }
  #what_i_am{
      margin: 10px 20px 10px 20px;
  }
  img {
      max-width: 100%;
      height: auto;
  }
}
